<style media="screen">
  .example {
    padding-top: 1em;
    border-top: 3px solid #ccc;
    padding-bottom: 1em;
  }
</style>

<h1>ember-circle-progress</h1>


<p>Usage:</p>

<pre>\{{ember-circle-progress}}</pre>


<p>Result:</p>

<div class="example">
  <pre>\{{ember-circle-progress value=0.70}}</pre>
  {{ember-circle-progress value=0.70}}
</div>

<div class="example">
  <pre>\{{ember-circle-progress value=0.15}}</pre>
  {{ember-circle-progress value=0.15}}
</div>

<div class="example">
  <pre>\{{ember-circle-progress value=0.15 responsive=true startAngle=startAngle size=400}}</pre>
  {{ember-circle-progress value=0.15 responsive=true startAngle=startAngle size=400}}
</div>

<p>Without animation:</p>

<div class="example">
  <pre>\{{ember-circle-progress value=0.15  animation=false}}</pre>
  {{ember-circle-progress value=0.15  animation=false}}
</div>
